

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #EEEEEE;
  display: flex;
}

.navbar {
  width: 200px;
  background-color: #222831;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar ul li {
  width: 100%;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  width: 100%;
}

.navbar ul li a:hover {
  background-color: #575757;
} 

.toggle-btn {
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.toggle-btn:focus {
  outline: none;
}

.content {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
  background-color: #024dfa;
}

.home-section {
  background-color: #526183;
  width: 100%;
  margin-left: 0;
  padding: 50px 0;
  text-align: center;
  
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.img img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  margin-left: 20px;
}

.name h1 {
  font-size: 2.5em;
  color: #fff;
}

.info {
  background-color: #f6f5f5;
  padding: 50px 0;
}

.info h2 {
  color: #333;
}

.info p {
  font-size: 1em;
  color: #333;
}

.info ul {
  list-style-type: none;
  padding: 0;
}

.info ul li {
  font-size: 1em;
  color: #333;
}

.project {
  background-color: #526183;
  padding: 50px 0;
}

.project1 .sub-title {
  color: #fff;
  text-align: center;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 80%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 70%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #8fa8e2);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.layer p {
  color: #fff;
}

.layer a {
  margin-top: 20px;
  color: #8fa8e2;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  transition: height 0.7s;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.contact {
  background-color: #f6f5f5;
  padding: 50px 0;
}

.contact h2 {
  color: #333;
}

.contact p {
  font-size: 1em;
  color: #333;
}

.contact a {
  color: #8fa8e2;
  text-decoration: none;
}
